@model AlexHobbyProjectViewModel
@{
    ViewData["Title"] = "Project Page";
}

<div class="row d-flex justify-content-between">
    <div class="row d-flex justify-content-between">
        @foreach (Project p in Model.Projects)
        {
            <div class="col-5">
                <h2 class="text-center">
                    @p.Title
                </h2>
            </div>
        }
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-5 d-flex align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <img src="~/images/santa.png">
            </div>

        </div>
        <div class="col-5">

            <div class="d-flex justify-content-center">
                <img src="~/images/Chess_Cycles.png">
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-between" style="margin-top: 1rem;">
        @foreach (Project p in Model.Projects)
        {
            <div class="col-5">
                <p>
                    @p.Description
                </p>
            </div>
        }
    </div>
</div>