@{
    ViewData["Title"] = "Project Page";
}

<div class="text-center">
Projects : 
Discord Santa Bot 
*insert code snippets for cool parts I guess*
This discord bot I created was made to allow people in a server to select each other randomly for secret 
santa ensuring that everyone would have a unique person to shop for while it remaining completely anonymous


Blender Chess set 
*insert image of chess set along with individual models*
I recently picked up learning 3d modeling in blender and as a project a made a 3d model of a chess set and board.
</div>


