@{
    ViewData["Title"] = "About Page";
}
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <img src="~/images/sample.png">
        </div>
        <div class="d-flex justify-content-center">
            <p>
                test text to go inline with the image  test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image
            </p>
        </div>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center">
            <img src="~/images/jack.webp">
        </div>
        <div class="d-flex justify-content-center">
            <p>
                My name is Jack McHugh, and I’m a student at the University of Cincinnati. I study Information Technology with a software development track. I currently work professionally as a software developer for business automation in the aviation industry. When I’m not studying or working with computers, I’m working on myself. In my free time, I enjoy exercising through weightlifting, jamming out on the drums, or being with good company.
            </p>
        </div>

    </div>
</div>