@{
    ViewData["Title"] = "About Page";
}
<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <img src="~/images/sample.png">
        </div>
        <div class="d-flex justify-content-center">
            <p>
                test text to go inline with the image  test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image
            </p>
        </div>
    </div>
    <div class="col">
        <div class="d-flex justify-content-center">
            <img src="~/images/sample.png">
        </div>
        <div class="d-flex justify-content-center">
            <p>
                test text to go inline with the image
                test text to go inline with the image 
                test text to go inline with the image 
                test text to go inline with the image 
                test text to go inline with the image 
                test text to go inline with the image 
                test text to go inline with the image 
                test text to go inline with the image 
                test text to go inline with the image 
                test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image test text to go inline with the image
            </p>
        </div>

    </div>
</div>