@model AlexHobbyProjectViewModel
@{
    ViewData["Title"] = "About Page";
}
<div class="row d-flex justify-content-between">
    <div class="col-5">
        <div class="d-flex justify-content-center">
            <img src="~/images/Alex.jpg">
        </div>
    </div>
    <div class="col-5">
        <div class="d-flex justify-content-center">
            <img src="~/images/jack.webp">
        </div>
    </div>
    <div class="row d-flex justify-content-between" style="margin-top: 1rem;">
        <div class="col-5">
            <p>
                My name is Alex Robinson, and I'm a student at the University of Cincinnati. I am currently working towards a a degree in Information Technology with a minor in Computer Science. Professionaly I work as an Angular Web Application developer in the Insurance industry. Besides coding I like to hang out with friends, play video games, and listen to music.
            </p>
        </div>
        <div class="col-5">
             <p>
                My name is Jack McHugh, and I’m a student at the University of Cincinnati. I study Information Technology with a software development track. I currently work professionally as a software developer for business automation in the aviation industry. When I’m not studying or working with computers, I’m working on myself. In my free time, I enjoy exercising through weightlifting, jamming out on the drums, or being with good company.
            </p>
        </div>
    </div>
</div>