@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>This site is dedicated to the Web Server Application Dev final project. 
        On this site you can find information about Jack and Alex, and the hobbies they associate themselves with!</p>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-8 d-flex justify-content-center">
        <img src="~/images/bearcatLogo.png">
    </div>
</div>
